.card-header{
    font-size: 26px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2.5%;
    background-color: rgb(219, 215, 216, 0.3);  
    color: darkblue;
    font-weight: bold;
}


label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    /* font-weight: bold; */
    color:rgb(199, 0, 57);
}



.label{
    padding-top: 1%;
    padding-left: 1%;
}
.row{
    width: 43%;
    border: black 1px ;
}

span{
    
    font-size: 18px;
    padding-left: 4%;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
.btn-custom{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(252, 248, 248);
    background-color: #CC6699;
    text-align: center;
}
