<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar brand" href="#"><img src="assets/logo.png" alt="logo" width="150" height="70"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addappointment" routerLinkActive="active">Book AN APPOINTMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/delete" routerLinkActive="active">UPDATE/DELETE</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT US</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/login" *ngIf="!_auth.loggedIn()"  routerLinkActive="active">LOG IN</a>
      <a class="nav-link" routerLink="/register" *ngIf="!_auth.loggedIn()"  routerLinkActive="active">SIGN UP</a>
      <a class="nav-link" style="cursor:pointer"  *ngIf="_auth.loggedIn()" (click)="logoutUser()">LOGOUT</a>
    </ul> 
  </div>
</nav>


<div class = "container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>