<div class='card'>
    <form #appointmentForm="ngForm" (ngSubmit)="AddAppointment()">
        <div class='card-header'>
            {{title}}
        </div>
        <div class='card-body'>
            <div class='table-responsive'>
                <table class='table'>
                    <tbody>

                        <tr [class.has-error]="appointmentControlName.invalid && appointmentControlName.touched"
                        [class.has-success]="appointmentControlName.valid">
                            <td><label>Name</label></td>
                            <td class="row"><input type="text" name="a_name" [(ngModel)] ="appointmentItem.name"  placeholder="Enter your Name" #appointmentControlName="ngModel" required></td>
                            <span class="help-block" *ngIf="appointmentControlName.invalid && appointmentControlName.touched"> **Patients name is required </span>
                        </tr>

                        <tr [class.has-error]="appointmentControlAge.invalid && appointmentControlAge.touched"
                        [class.has-success]="appointmentControlAge.valid">
                            <td><label>Age</label></td>
                            <td class="row"><input type="text" name="a_age" [(ngModel)] ="appointmentItem.age"placeholder="Enter your Age" #appointmentControlAge="ngModel" required></td>
                            <span class="help-block" *ngIf="appointmentControlAge.invalid && appointmentControlAge.touched"> **Patients Age is required </span>
                        </tr>

                        <tr [class.has-error]="appointmentControlDep.invalid && appointmentControlDep.touched"
                        [class.has-success]="appointmentControlDep.valid">
                            <td><label>Department</label></td>
                            <td class="row">
                                <select name="a-dep" class="form-control" [(ngModel)] ="appointmentItem.place" #appointmentControlDep="ngModel" required>
                                    <option value="null" >Select yourDepartment</option>
                                    <option value="{{item.ids}}" *ngFor="let item of department_values">
                                        {{item.labels}}
                                    </option>
                                  </select>
                            </td>
                            <span class="help-block" *ngIf="appointmentControlDep.invalid && appointmentControlDep.touched"> **Select any Department </span>
                        </tr>

                        <tr [class.has-error]="appointmentControlNumb.invalid && appointmentControlNumb.touched"
                        [class.has-success]="appointmentControlNumb.valid">
                            <td><label>Mobile Number</label></td>
                            <td class="row"><input type="text" name="a_numb" [(ngModel)] ="appointmentItem.phoneNumber" placeholder="Enter your Phone Number" #appointmentControlNumb="ngModel" required></td>
                            <span class="help-block" *ngIf="appointmentControlNumb.invalid && appointmentControlNumb.touched"> **Mobile Number is required</span>
                        </tr>

                        <tr [class.has-error]="appointmentControlDate.invalid && appointmentControlDate.touched"
                        [class.has-success]="appointmentControlDate.valid">
                            <td><label>Date of Appointment</label></td>
                            <!-- <td><input type="date" name="a_date" [(ngModel)] ="appointmentItem.date" required ></td> -->
                           <td class="row">
                            <input type="text" id="adate"
                            placeholder="Select Appointment Date"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                             name="a_date" [(ngModel)] ="appointmentItem.date" required
                            bsDatepicker #appointmentControlDate="ngModel">
                           </td> 
                           <span class="help-block" *ngIf="appointmentControlDate.invalid && appointmentControlDate.touched"> **Appointment Date is equired </span>
                        </tr>
                        
                        <tr [class.has-error]="appointmentControlId.invalid && appointmentControlId.touched"
                        [class.has-success]="appointmentControlId.valid">
                            <td><label>Time Slot</label></td>
                            <td class="row" >
                                <select name="a-slot" class="form-control" [(ngModel)] ="appointmentItem.slot" #appointmentControlId="ngModel" required>
                                    <option  value="null" >Select your Time Slot</option>
                                    <option value="{{item.id}}" *ngFor="let item of slot_values">
                                        {{item.label}}
                                    </option>
                                  </select>
                            </td>
                            <span class="help-block" *ngIf="appointmentControlId.invalid && appointmentControlId.touched"> **Select any Time Slot </span>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td><button class="btn btn-custom" [disabled]="appointmentForm.invalid">Submit</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </form>

</div>
