<div class='card'>
    <div class='card-header'>
        {{title}}

    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                       
                        <th>Name</th>
                        <th>Age</th>
                        <th>Place</th>
                        <th>Phone Number</th>
                        <th>Appointment Date</th>
                       
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor='let appointment of appointments'>
                       
                    <td>{{ appointment.name }}</td>
                    <td>{{ appointment.age }}</td>
                    <td>{{ appointment.place }}</td>
                    <td>{{ appointment.phoneNumber }}</td>
                    <td>{{ appointment.date }}</td>
                </tr>
            </tbody>        
      </table>
    </div>
  </div>

