*{
    margin-top: 2%;
}
.card-header{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2.5%;
    
}

.thead-custom{
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    background-color: rgb(163, 118, 184, 0.8);
    
}

td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 17px;
    width: 40%;
    color:rgb(199, 0, 57) ;

}
.row{
    width: 43%;
    border: black 1px ;
}


.btn-custom{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(252, 248, 248);
    background-color: #CC6699;
    text-align: center;
}
